
*{
    margin: 0;
    padding: 0;
    font-family: "Protest Strike", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}



.nav{
    height: auto;
    /* background-color: aqua; */
}
.nav-1{
    height: 50%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    padding: 30px 0px 25px 0px;
    /* margin-bottom: 10px; */
}
.img-1{
    height: 90px;
    padding: 0px 15px;
}
h1{
    font-size: 40px;
}
.line1{
    width: 0.01px;
    height: 100px;
    background-color: gray;
    border: solid 0.1px gray;
    margin: 0px 20px;
}
.main{
    width: 90%;

}
body{
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    background: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-size: 30px;
    color: black;
}
.bug-1{
    color: rgb(209, 209, 209);
    font-size: 37px;
    
}
.search{
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.ico-1{
    height: 40px;
    position: relative;
    right: 20px;
    background-color: rgb(110, 110, 110);
    border-radius: 50%;
    border: solid 2px black;
}

.search > input{
    height: 24px;
    padding: 0px 10px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    box-shadow:inset 2px 2px 2px 2px rgb(62, 62, 62);
    color: black;
}
.nav-2{
    height: 90px !important;
    margin-bottom: 10px;
}
ul{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    margin-top: 18px;
}
ul > li{
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    color: white;
    padding: 10px 20px;
    transition: linear 0.3s;

}

ul > li :hover{
    color: wheat;

}

.land-main{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.land-main-1{
    width: 70%;
    /* background-color: chartreuse; */
    height: 90%;
    border-radius: 10px;
    background: url(./images/vid.mp4);
}
.land-main-2{
    width: 28%;
    /* background-color: rgb(89, 100, 78); */
    height: 90%;
    border-radius: 10px;
}

.land-carousel{
    display: flex;
    /* background-color: blueviolet; */
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(127, 127, 127, 0.411);

}

.carousel-item > img{
    margin: 0px 10px;
    border-radius: 20px;
}

.arrow{
    background-color: rgba(22, 22, 22, 0.474);
    color: aliceblue;
    padding: 30px ;
    border-radius: 100%;
    height: 10px ;
    width: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-pics{
    overflow: hidden;
    display: flex;
}

.page-2{
    height: 30%;
    /* background-color: rgb(31, 53, 53); */
    display: flex;
    margin: 50px 0px;

}

.subpage{
    /* background-color:aquamarine ; */
    height: 100%;
    margin: 0px 10px;
    border-radius: 20px;
}

.subpage1{
    width: 50%;
    /* background-color: chartreuse; */

}
.subpage2{
    width: 40%;
    height: 71.5%;
    /* background-color: rgb(44, 73, 15); */
    padding: 10px 140px 10px 20px;
    background-color: rgb(223, 223, 223);

}
ol{
    padding-left: 20px;
    margin-top: 20px;
}
.tab-btn{
    display: flex;
    width: 100%;
    justify-content: center;
}
.azeem{
    background-color: gray;
    width: 30%;
    margin: 10px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.content{
    padding: 10px 18px;
}

h3{
    font-size: 35px;
    margin-bottom: 12px;
}

.taqi-1{
    font-size: 27px;
}

.taqi-2{
    margin: 10px 0px;
}

ol> li{
    margin: 3px 0px;
}

.bilal-box{
    height:40vh;
    /* background-color: beige; */
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
    position: relative;
    bottom: 25px;

}

h4{
    background-color: rgb(160, 160, 160);
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 20px;
z-index: 100;
position: relative;
top: 1px;

}


.content-cont{
    background-color: gray;
    position: relative;
    bottom: 20px;
    width: 96%;
    left: 13px;
}
.bilaltaqi{
    font-size: 25px;
}


.land-main-2{
    background: url(./images/pot.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

video{
    height: 500px;
    border-radius: 20px;
    position: relative;
    /* left: 30px; */

}

.content-1{
    background-color: rgb(102, 102, 102);
}
.content-2{
    background-color: rgb(81, 81, 81);

}
.content-3{
    background-color: rgb(70, 70, 70);


}
.content-4{
    background-color: rgb(54, 54, 54);

}
.content-5{
    background-color: rgb(144, 144, 144);

}
.content-6{
    background-color: rgb(155, 155, 155);

}